/*
  A stylesheet customizing app (custom renderers)
*/
table.htCore tr.odd td {
    background: #fafbff;
}

/*
    A stylesheet customizing Handsontable style
  */
.handsontable {
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.collapsibleIndicator {
    text-align: center;
}

.ht_clone_top .htCore th {
    background-color: #457B9D;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

.ht_clone_left .htCore th {
    background-color: #457B9D;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}

.ht_clone_top_left_corner .htCore th {
    background-color: #457B9D;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}